body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: lightgrey;
  border-bottom: 3px solid black;
}

#navbar > div {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.tab {
  
  font-size: 25px;
  padding: 10px;
  margin-right: 2%;
}

.tab:hover {
  cursor: pointer;
}

.button {
  padding: 10px;
  font-size: 25px;
  margin-right: 2%;
}

#display {
  margin: 5%;
  flex-grow: 1;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}

th{
    text-align:center;
}

table, th, td{
    border : 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

.loading-bar {
  width: 100%;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
}

.progress-bar {
  height: 100%;
  background-color: green;
  border-radius: 10px;
}

.container {
  width: 100%;
  
}

#plot-bar{
  width: 100%;
  height: 60px;
  background-color: #555555
}

.micro-bit-name{
  color: #eeeeee;
  font-size: x-large;
  font-size-adjust: inherit;
  margin-left: 1%;
  align-self: flex-end;
}

.memory-bar-label{
  color: #e9e9e9;
  font-size: medium;
  font-size-adjust: inherit;
}

.memory-bar{
  width: 98%;
  height: 20px;
  border-radius: 10px;
  background-color: #eeeeee;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  color:black;
}

.memory-bar-fill{
  height: 100%;
  border-radius: 10px;
  background-color: #2b51cd;
  transition: width 0.5s ease-out;
  text-align: center;
  color:#eeeeee;
}


/* modal stuff */
.modal {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    padding: 1.3rem;
    background-color: white;
    border: 2px solid #ddd;
    max-width: 30%;
    border-radius: 4px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hidden {
    display: none;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal-button {
    width: 50%;
    transition-duration: 0.2s;
}

    .modal-button:hover {
        background-color: black;
        color: white;
    }
    .accordion {
      font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      margin: 1rem auto;
    }
    
    .accordion-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: #d3d3d3;
      font-size: 25px;
    }
    
    .accordion-title:hover {
      background-color: #c2c2c2;
    }
    
    .accordion-title,
    .accordion-content {
      padding: 1rem;
    }
    
    .accordion-content {
      background-color: #dfdede;
      font-size: 22px;
      font-weight:lighter;
    }
    
    h7 {
      display: block;
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0.5em;
      margin-right: 0;
      font-weight:600;
    
    }